<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Level:</strong>
  <%= @task.user_level %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.task_type %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= url_for @task.attachment  %>
</p>
