<h1>New Answer</h1>

<% if @task.technical? %>
  <%= render 'technical_answer_form', answer: @answer %>
<% end %>

<% if @task.english? %>
  <%= render 'english_answer_form', answer: @answer %>
<% end %>

<%= link_to 'Back', root_path %>
