<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title>invite</title>
</head>
<body>
Hello!
You are invited to url <%= @host %>.<br/>
Your credentials: <br/>
login: <%= @email %> <br/>
password: <%= @password %> <br/>
</body>
</html>